<div id="how-to-insert-an-order-container" fxLayout="column">
    <mat-toolbar fxHide.gt-xs>
        <span>
            نحوه ی ثبت سفارش
        </span>
        <button (click)="routingService.navigateBack()" mat-button>
            بازگشت
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card id="content-container" ngClass.lt-sm="small-screen">
        <mat-card-content>
            <div id="title" fxHide.lt-sm>
                نحوه ی ثبت سفارش
            </div>

                <div class="header-text">
                    جستجو و انتخاب دارو
                </div>
                <div class="body-text">
                    برای جستجوی داروی مورد نظر خود در داروپین از دو روش زیر می‏ توانید استفاده کنید
                </div>
                <div class="body-text">
                    <div class="bullet-point"></div>
                    استفاده از ابزار نوار جستجو (در صورتی که مدل یا برند مورد نظر خود را از قبل انتخاب کرده باشید)
                </div>
                <p class="body-text">
                    در قسمت بالای صفحه‌های سایت یک ابزار جستجو وجود دارد و شما می‌‏توانید با تایپ نام یا بخشی از نام آن
                    کالا در
                    نوار جستجو، به صورت مستقیم به سراغ محصول مورد نظر خود بروید
                </p>
                <div class="body-text">
                    <div class="bullet-point"></div>
                    استفاده از بخش‌ دسته بندی ها
                </div>
                <div class="body-text">
                    در بالای ابزار نوار جستجو در سمت راست، گروه‌بندی‌های کلیه خدمات قرار دارد که در بخش دسته بندی ها،
                    محصولات
                    مرتبط آن گروه کالا نمایش داده می‌‏‏شود سپس با کلیک‌کردن بر روی دسته‌بندی‏‏‌های کالا، شما به صفحه‌ی
                    جستجوی
                    پیشرفته منتقل می‌شوید که می‌‏‏توانید بر اساس موضوع اصلی، داروی مورد نظر را جستجو نمایید
                </div>
                <div class="header-text">
                    اضافه‌کردن کالا به سبد خرید
                </div>
                <div class="body-text">
                    پس از انتخاب کالایی که تصمیم نهایی برای خرید آن دارید، با کلیک‌کردن بر روی گزینه اضافه به سبد خرید،
                    وارد
                    صفحه سبد خرید می‌‏شوید. اگر قصد خرید کالاهای بیشتری را دارید، آنها را نیز به سبد خرید خود اضافه کنید
                    تا به
                    صورت یک سفارش برای شما پردازش و ارسال شوند
                </div>

                <div class="header-text">
                    نهایی‌کردن خرید
                </div>
                <div class="body-text">
                    پس از انتخاب کالاهای موردنظر و اضافه‌کردن آنها به سبد خرید، باید سفارش خود را طی 2 مرحله زیر تکمیل و
                    نهایی
                    کنید
                </div>
                <div class="body-text">
                    ثبت سفارش
                </div>
                <div class="body-text">
                    انتخاب آدرس
                </div>
                <div class="body-text">
                    سپس سفارش برای داروخانه های اطراف ارسال می شود و نتیجه از طریق پیامک به شما اعلام می گردد در صورت
                    وجود
                    هرگونه سوال یا ابهامی می‌توانید به بخش پرسش‌های متداول مراجعه نمایید
                </div>
        </mat-card-content>
    </mat-card>

</div>