<div id="rules-container">
    <mat-toolbar>
        <span>
        حریم خصوصی و وشرایط و قوانین
        </span>
        <button (click)="routingService.navigateBack()" mat-button>
            بازگشت
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </mat-toolbar>
    <div id="content-container">
        <div class="header-text">
            قوانین و مقررات استفاده از برنامه داروپین
        </div>
        <p class="body-text">
            کاربرانی که قصد عضویت و استفاده از برنامه داروپین را دارند، لازم است متن قوانین و مقررات درج شده را به طور
            کامل مطالعه و سپس اقدام به عضویت نمایند. ورود کاربران به برنامه داروپین و اقدام به عضویت، ایجاد پروفایل
            شخصی، ثبت سفارش و سایر خدمات ارائه شده در حال حاضر و آینده، به معنای آگاه بودن از شرایط و قوانین و پذیرفتن
            آن ها است.
        </p>
        <p class="body-text">
            کلیه اصول و رویه‏‌های داروپین منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از
            حقوق مصرف کنندگان است. قابل توجه است که قوانین مندرج در این صفحه در طول زمان قابل تغییر هستند، این تغییرات
            در همین صفحه به روز رسانی می شود از این رو، مسئولیت مطالعه و آگاهی از این تغییرات بر عهده کاربر است.
        </p>
        <div class="header-text">
            مفاهیم
        </div>
        <p class="body-text">
            <span class="bold-text">کاربر: </span>
            هر فرد حقیقی / حقوقی که به برنامه داروپین مراجعه می کند تا اطلاعاتی را وارد نموده / مشاهده نموده یا سفارشی
            را ثبت نماید، کاربر شناخته می شود.
        </p>
        <p class="body-text">
            <span class="bold-text">داروپین: </span>
            برنامه ارائه دهنده خدمات ثبت سفارش دارو و ارسال آن برای کاربر است.
        </p>
        <p class="body-text">
            <span class="bold-text">داروخانه: </span>
            داروخانه های سراسر کشور می باشند که سفارش ثبت شده برای کاربر را آماده می نمایند.
        </p>
        <p class="body-text">
            <span class="bold-text">ارسال کننده ( پیک ): </span>
            سفارش ثبت شده توسط کاربر را به آدرس مود نظر ایشان ارسال می نمایند.
        </p>
        <div class="header-text">
            مسئولیت ها، مجوزها و حقوق خاص
        </div>
        <p class="body-text">
            داروپین برای حریم شخصی کاربران احترام خاص قائل است. با حفظ این حریم، به جهت امکان استفاده کاربران از امکانات
            برنامه، اطلاعاتی از کاربران درخواست می‌شود تا بتوان خدماتی امن و مطمئن را به کاربران محترم ارائه نمود.
        </p>
        <p class="body-text">
            در خصوص این اطلاعات، داروپین مطابق با قانون حریم خصوصی جمهوری اسلامی ایران عمل می‌کند.
        </p>
        <p class="body-text">
            داروپین این امکان را دارد که اطلاعات هویتی و تماس کاربر را در اختیار ارسال کننده ( پیک ) و در صورت لزوم
            گیرنده مرسوله قرار بدهد، تا امکان تماس با کاربر در موارد لازم مهیا باشد.
        </p>
        <p class="body-text">
            کاربران برای ثبت سفارش از طریق پیک، باید اطلاعات درخواست شده را به درستی اعلام نمایند و داروپین مسئولیتی در
            قبال هر گونه مشکلات ایجاد شده به دلیل ارائه اطلاعات نادرست را نخواهد داشت.
        </p>
        <p class="body-text">
            مسئولیت حفظ و نگهداری از اطلاعات ورود به حساب کاربری شامل نام کاربری، رمز عبور و اطلاعات شخصی درج شده بر روی
            برنامه، بر عهده کاربران است. برای جلوگیری از هرگونه سوء استفاده احتمالی، کاربران نباید این اطلاعات را برای
            شخص دیگری فاش نمایند.
        </p>
        <p class="body-text">
            هیچ فردی حق استفاده از علائم تجاری و اطلاعات مندرج بر روی برنامه داروپین را به نفع خود ندارد ، در صورت بروز
            این موضوع طبق قوانین جمهوری اسلامی ایران با فرد برخورد شده و مساله مورد پیگرد قانونی قرار می گیرد.
        </p>
        <p class="body-text">
            کلیه قیمت گذاری های مربوط به داروها توسط داروخانه ها با قیمت مصوب شده می باشد.
        </p>
        <p class="body-text">
            کلیه قیمت گذاری های مربوط به ارسال سفارش توسط پیک با قیمت مصوب شده می باشد. مسئولیت خسارت در رابطه با ارسال
            سفارش و حوادث قهریه در این خصوص مطابق با قوانین ارسال کننده ( پیک ) می باشد.
        </p>
    </div>

</div>