<div id="subscription-completed-page" [ngClass.lt-sm]="'small-screen'" [fxLayout]="'row'" [fxLayoutAlign]="'center center'">
    <div id="background-image"></div>
    <mat-card id="subscription-completed-container">
        <mat-card-content>
            <mat-card id="subscription-completed-card">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-icon id="done-icon" svgIcon="svg_done"></mat-icon>
                    <div>کاربر گرامی</div>
                    <div class="text">شما با موفقیت عضو باشگاه مشتریان داروخانه
                        {{pharmacyName}}
                        شدید
                    </div>


                </mat-card-content>
                <mat-card-actions [fxLayout]="'row'" [fxLayoutAlign]="'center center'">
                    <button (click)="disableButton()"
                            [disabled]="isButtonDisabled"
                            [routerLink]="'/pharmacy/'+hixCode"
                            appDpButton="blue"
                            id="continue-button"
                            mat-raised-button>ادامه
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>