@import "../../../core/constants/Colors";

#product-carousel-card {
  padding: 16px;
  display: block;

  .mat-card-title {
    margin-bottom: 16px;

    .product-carousel-header {
      font-size: 60%;
      font-weight: bold;
      padding: 0 8px 16px;
      border-bottom: 1px solid $GRAY-600;

      /deep/ .mat-card-header-text {
        margin: 0 4px;
      }
    }
  }

  .mat-card-content {
    padding: 0 16px;

    #carousel {
      width: calc(100% - 160px);
      height: 100%;

      /deep/ .ngu-touch-container {
        height: 100%;
      }

      .item {
        margin: 4px 0;
        box-sizing: border-box;
        height: 256px;

        .tile {
          height: 100%;
          width: 80%;
        }
      }
    }

    .buttons {
      background-color: $BLUE_200;
      color: $BLUE_800;
      z-index: 1;

      /deep/ .mat-button-wrapper {
        padding: 12px 0;

        mat-icon {
          width: 32px;
          height: 32px;
          font-size: 32px;
        }
      }

      &:disabled {
        background-color: $GRAY_200;
        color: $GRAY_500;
      }
    }


    .points {
      list-style-type: none;
      text-align: center;
      padding: 16px 16px 0;
      margin: 0;
      white-space: nowrap;
      overflow: auto;
      box-sizing: border-box;
    }

    .points li {
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $BLUE_700;
      padding: 2px;
      margin: 0 3px;
      transition-timing-function: cubic-bezier(.17, .67, .49, 1.5);
      transition: 0.4s;
      cursor: pointer;
    }

    .points li.active {
      background: $BLUE_700;
      transform: scale(1.4);
    }
  }

  &.small-screen {
    padding: 8px 0;
    box-shadow: none;

    .mat-card-title {
      margin-top: 8px;

      .product-carousel-header {
        border-bottom: 0;
      }
    }

    .mat-card-content {
      padding: 0 32px;

      #carousel {
        width: 100% !important;

        .item {
          height: 230px;

        }
      }

      .button-container {
        position: absolute;
        top: 0;
        width: 56px;
        height: 100%;
        display: flex;
        background: $WHITE_OPACITY_0;

        .buttons {
          box-shadow: none;
          background-color: $WHITE_OPACITY_0;
        }

        &.right-button {
          right: 4px;
        }

        &.left-button {
          left: 4px;
        }
      }
    }

  }

}
