$WHITE: #FFFFFF;


$GRAY_50: #FEFEFE;
$GRAY_100: #F5F5F5;
$GRAY_150: #F5F6F8;
$GRAY_200: #EFEFEF;
$GRAY_300: #E1E1E1;
$GRAY_400: #CECECE;
$GRAY_500: #C7CFDB;
$GRAY_600: #ADADAD;
$GRAY_700: #808080;
$GRAY_800: #727272;
$GRAY_900: #565656;


$BLACK_100: #666666;
$BLACK_200: #333333;
$BLACK_300: #202020;
$BLACK: #000;

$YELLOW_50: #FFFFF1;
$YELLOW_500: #FFE580;

$ORANGE_50: #FFEDE6;
$ORANGE_100: #FCD8CB;
$ORANGE_200: #ffab91;
$ORANGE_300: #F76B3B;

$RED_50: #FFF6F3;
$RED_100: #E8A4A2;
$RED_200: #FF6F61;
$RED_300: #EF5661;
$RED_400: #F73B3B;
$RED_500: #FF0000;
$RED_600: #E71E2C;
$RED_700: #D92915;
$RED_800: #c62828;

$LIGHT_BLUE_50: #F9FDFF;
$LIGHT_BLUE_100: #F5F9FB;
$LIGHT_BLUE_200: #D8F2FF;
$LIGHT_BLUE_300: #97DCFE;
$LIGHT_BLUE_400: #73D2FE;
$LIGHT_BLUE_500: #48C2FE;

$LIGHT_BLUE_A100: #98BEDE;

$BLUE_50: #F3FBFF;
$BLUE_100: #F1F9FF;
$BLUE_200: #E9F7FF;
$BLUE_250: #E1F3FF;
$BLUE_300: #C1E6FC;
$BLUE_500: #39A9DB;
$BLUE_600: #32A8DD;
$BLUE_700: #1C77C3;
$BLUE_800: #27528D;
$BLUE_900: #05407e;

$GREEN_100_OPACITY_1: rgba(0, 216, 43, 0.1);
$GREEN_100: #00D82B;
$GREEN_200: #22A549;
$GREEN_300: #0F7E30;
$GREEN_500: #0E782D;
$GREEN_800: #2E7D32;

$CYAN_300: #81C9E8;
$CYAN_400: #26B8B4;
$CYAN_700: #2EA2C7;
$CYAN_900: #115E6A;

$BLACK_OPACITY_8: rgba(0, 0, 0, 0.08);
$BLACK_OPACITY_12: rgba(0, 0, 0, 0.12);
$BLACK_OPACITY_14: rgba(0, 0, 0, 0.14);
$BLACK_OPACITY_16: rgba(0, 0, 0, 0.16);
$BLACK_OPACITY_20: rgba(0, 0, 0, 0.20);
$BLACK_OPACITY_24: rgba(0, 0, 0, 0.24);

$WHITE_OPACITY_0: rgba(255, 255, 255, 0);
$WHITE_OPACITY_30: rgba(255, 255, 255, 0.30);
$WHITE_OPACITY_50: rgba(255, 255, 255, 0.5);
$WHITE_OPACITY_87: rgba(255, 255, 255, 0.87);

$GRAY_OPACITY_90: rgba(254, 254, 254, 0.90);
$GRAY_OPACITY_20: rgba(100, 100, 100, 0.20);
$GRAY_OPACITY_50: rgba(250, 250, 250, 0.50);

$DEFAULT_IMAGE_BACKGROUND_COLOR: #F5FAFE;