#address-form-field-container {
  .form-field {
    min-width: 156px;
    margin: 0 4%;
  }

  .map-field {
    min-width: 232px;
    margin: 0 4%;
  }

  .small-field {
    min-width: 100px !important;
  }
}