@import "../../../core/constants/Colors";

#desktop-general-home-page-container {
  margin-bottom: 96px;
  background-color: $GRAY_50;
  height: 100%;
  position: relative;

  #top-area {
    height: calc(100vh - 64px);
    width: 100%;
    position: relative;
    overflow: hidden;
    #background-image {
      background-image: url("../../../../assets/images/Background_Colorize.jpg");
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .search-component {
      width: 84%;
      margin-left: 8%;
      margin-right: 8%;
      position: absolute;
      // todo responsive
      // if you make it responsive animations and its attachment to header will ruined
      top: 250px;
    }
  }
}
