<ng-container *ngFor="let category of menuCategory.subCategory">
    <ng-container *ngIf="category.subCategory && category.subCategory.length>0">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">{{category.categoryName}}</button>
        <mat-menu #subMenu="matMenu" [overlapTrigger]="false">
            <app-desktop-sub-menu [menuCategory]="category"></app-desktop-sub-menu>
        </mat-menu>
    </ng-container>
    <ng-container *ngIf="!(category.subCategory && category.subCategory.length>0)">
        <button mat-menu-item [routerLink]="'/product/list/'+category.categoryId">{{category.categoryName}}</button>
    </ng-container>
</ng-container>