<div id="about-us" fxLayout="column">
    <mat-toolbar fxHide.gt-xs>
        <span>
            درباره داروپین
        </span>
        <button (click)="routingService.navigateBack()" mat-button>
            بازگشت
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card id="content-container" ngClass.lt-sm="small-screen">
        <mat-card-content>
            <div id="title" fxHide.lt-sm>
                درباره داروپین
            </div>
            <div class="header-text">
                روشی نو برای تهیه دارو
            </div>
            <div class="body-text">
                توسعه اینترنت روش‌های خرید ما را به کلی دگرگون کرده است. منافع موجود در خرید اینترنتی هر روز تعداد
                بیشتری از
                مردم را به تجربه آن و ایجاد تغییر در الگوهای متداول خرید ترغیب می‏‌کند. امروز دیگر افراد این روش خرید را
                بیشتر منطبق بر شرایط زندگی مدرن می‏‏‏‌بینند. ویژگی‏‏‏‌ها و طبیعت خرید اینترنتی با روحیات و نیازهای رو به
                رشد
                ما هماهنگ‏‏‌تر شده است. همه سخت در حال تلاش برای پیشرفت‏‏‌های شخصی و جمعی خود هستیم.
            </div>
            <div class="body-text">
                امروزه بهای اوقات فراغت ما با وجود مشغله‏‌های روزانه بسیار گرانبها‌تر شده است. همه ما برای این اوقات
                برنامه
                ریزی فشرده‏‌تری داریم. دیگر صرف زمان‌هایی نسبتا طولانی در فعالیت‏‌های نه‌چندان با اهمیت مانند خرید و
                سفرهای
                شهری برای بسیاری از انسان‌ها اولویت خود را از دست داده است. هوشمندی انسان‌ها، آنها را مجاب می‏‌کند که با
                تغییر در الگوهای قدیمی و نا‏کارآمد زندگی، هوشمندانه‏‌تر و امروزی‏‌تر زندگی کنند. صرف اوقات فراغت برای
                تفریح،
                آموزش، ورزش، لذت بردن از علایق شخصی و رفع خستگی‏‏‌های روزانه اولویت بیشتری نسبت به فعالیت‌‏‏‏های وقت‌گیر
                و
                در عین حال کم اهمیت‏‏‏‌تر مانند خرید کردن دارند.
            </div>
            <div class="body-text last-section">
                داروخانه آنلاین با ارائه طیف گسترده‏‌ای از معتبرترین برندها در گروه‌‏های مختلف محصولات آرایشی بهداشتی و
                دارویی، تلاش می‏‌کند تا نیازهای متفاوت مشتریان با کاربری‏‌های متفاوت آنان را برآورده سازد.انتخاب و خرید
                دارو
                در وب سایت داروخانه آنلاین، خدماتی شایسته و تجربه‌ای خوشایند را برای مخاطبان خود به ارمغان خواهد آورد.
            </div>
        </mat-card-content>
    </mat-card>
</div>